%h1 Услуги
.accordion.my-3
  .accordion-item
    %h1.accordion-header#headingOne
      %button.accordion-button.collapsed{ "type" => "button", "data-bs-toggle" => "collapse", "data-bs-target" => "#collapseOne", "aria-expanded" => "true", "aria-controls" => "collapseOne" } 
        Фильтрация
    #collapseOne.accordion-collapse.collapse{"aria-labelledby" => "headingOne", "data-bs-parent" => "#accordionExample"}
      .accordion-body
        = form_with url: url_for(controller: params[:controller], action: :index), method: :get do |f|
          .row
            .col-lg-4.mb-3
              .input-group
                = f.label :specialist, class: "input-group-text"
                = f.collection_select :specialist, Specialist.all, :id, :name, {}, class: "form-select"
            .col-lg-4.mb-3
              .input-group
                %span.input-group-text
                  Сумма от 
                = f.text_field :price_start, value: params[:price_start], class: "form-control"
                %span.input-group-text
                  до 
                = f.text_field :price_end, value: params[:price_end],class: "form-control"
            .col.col-lg-4.mb-3
              .btn-group.w-100
                = link_to "Сбросить", orders_path, class: "btn btn-secondary", id: "clear-filters"
                = f.submit "Применить фильтры", class: "btn btn-primary"
- @services.each do |service|
  .card.mb-3
    .card-header
      %h5 
        = service.name
    .card-body.bg-info.bg-opacity-25
      %p 
        Цена: 
        = service.price
      %p 
        Исполнитель:
        = service.specialist.name
      %p 
        Категория:
        = service.category&.name
      = button_to 'Удалить', service, method: :delete, class: "btn btn-danger float-end"
        